
.div{
    margin: 50px;
    text-align: center;
    border: 1px solid white;
    box-shadow: 0px 2px 5px 0px black;
    padding: 50px;
}


.img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

label{
    font-size: 18px;
    display: inline-block;
    text-align: right;
    float: left;
    width: 150px;
}


.inp{
    width: 600px;
    height: 45px;
    border: 1px solid rgb(246, 157, 74);
    box-shadow: 2px 2px 2px 0px rgb(188, 187, 187);
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

::placeholder{
    padding: 20px;
    font-size: 16px;
}

.ajoute{
    margin-left: 200px;
    width: 400px;
    height: 50px;
    border-radius: 4px;
    color: white;
    background-color: rgb(233, 122, 17);
}